# Maven
target
pom.xml.*
release.properties
gen-external-apklibs

# Gradle
.gradle
build/
local.properties

# Gradle Profiler
profile-out*
gradle-user-home

# IntelliJ IDEA
.idea/
!.idea/vcs.xml
!.idea/runConfigurations/
!.idea/scopes/
*.iml
*.ipl
*.ipr
*.iws
classes/
idea-classes/
coverage-error.log
.shelf/

# Android
gen
bin
project.properties
out
.cxx

# Steve Jobs
.DS_Store
